<h3>AjaxAndjQuery</h3>

<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Please enter the details below.</h3>
        </div>
        <div class="panel-body">
            <div class="form-group col-md-6">
                <label>Simple Attribute Details:</label>
                <input type="text" name="simplAttr" id="simplAttr" class="form-control" placeholder="Add some details to Simple Attribute" required="" />
            </div>


            <div class="form-group col-md-6">
                <div style="float: right; display:inline-block;">
                     <input class="btn btn-primary" name="submitButton" id="btnSave" value="Save" type="button" @*onclick="@("window.location.href='" + @Url.Action("Create", "Home", new { myparam = "simplAttr" }) + "'");"*@>
                   @* @Html.ActionLink("Save", "Create", "Home", new { std = "#simpleAttr" }, new { @class = "btn btn-primary" })*@
                </div>
            </div>
        </div>
    </div><hr />
    <table id="tblSimpleAttribute" class="table table-bordered table-striped table-responsive table-hover">
        <thead>
            <tr>
                <th align="left" class="productth col-md-6">Table Identity</th>
                <th align="left" class="productth col-md-6">Simple Attribute Details</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts
{
    <script type="text/javascript">

    $(function () {

        /*Combination of AJAX and JSON.*/
        /*Carefully consider the id's in the HTML above.*/
        $("#btnSave").click(function () {
        var tbl = {};
        tbl.SimpleAttribute = $("#simplAttr").val();
        $.ajax({
        type: "POST",
            url: '@Url.Action("Create")',
            data: '{tbl: ' + JSON.stringify(tbl) + '}',
        dataType: "json",
        contentType: "application/json; charset=utf-8",
            success: function () {
                
                //LoadData();
            });
        return false;
        });
    });


    function LoadData() {

        /*Combination of AJAX, JSON and jQuery.*/
        /*Carefully consider the id's in the HTML above.*/
        var tbl = {};
        tbl.SimpleAttribute = $("#simplAttr").val();
        $.ajax({
        type: "POST",
            url: '@Url.Action("GetExampleTable")',
            data: '{tbl: ' + JSON.stringify(tbl) + '}',
        dataType: "json",
        contentType: "application/json; charset=utf-8",
            success: function (data) {
                var items = "";
                var rows = "<tr>"
                    + "<td>" + item.SimpleID + "</td>"
                    + "<td>" + item.SimpleAttribute + "</td>"
                        + "</tr>";
                $('#tblSimpleAttribute tbody').append(rows);
                
            });
        return false;
        });
        }
    </script>
}

