@model List<Course>

<div class="text-center">
    <h1 class="display-4">Courses</h1>

    @if (@Model.Count() == 0)
    {
        <p>No Courses</p>
    }
    else
    {
        <ul class="list-group">
            <li class="list-group-item">
                @foreach (var course in Model)
                {
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">@course.Name</h5>
                            <p class="card-text">@course.Description</p>
                            @Html.ActionLink("View assignments", "ViewCourse", "Home", new { courseID = @course.ID } , new { @class = "btn btn-primary" })
                        </div>
                    </div>
                }
            </li>
        </ul>
    }
</div>
